<!DOCTYPE html>
<html lang="zh_cn" ng-app="orderApp">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control" />
	<meta content="no-cache" http-equiv="pragma" />
	<meta content="0" http-equiv="expires" />
	<meta content="telephone=no, address=no" name="format-detection" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<title>请点餐</title>

	<link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/Content/css/global.css">
</head>
<body>
	<div ng-view>
		
	</div>
	<section class="cart">
		<ul>
			<li ng-if="!isCart">
				<span class="table-number">桌号：{{cart.table}}</span>
				<span>人数：</span>
				<select class="input-customer" 
					ng-model="cart.customer" convert-to-number>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</li>
			<li ng-if="!isCart">
				<span>发票抬头：</span>
				<input type="text" class="input-bill" size="12" 
					ng-model="bill">
			</li>
			<li class="clearfix">
				<span class="cart-sum">
					<span class="fa fa-shopping-cart"></span>
					{{cart.sizeAll}}份 ￥{{cart.priceAll}}
				</span>
				
				<a class="btn btn-sm btn-danger pull-right"
					href="javascript:;"
					ng-show="!isCart"
					ng-click="submit()">
					确认点单
				</a>
				<a class="btn btn-sm btn-primary pull-right"
					href="javascript:;"
					route-href="/result"
					ng-show="cart.sizeAll && isCart">
					查看点单
				</a>
			</li>
		</ul>
		
	</section>
	<script src="~/Scripts/lib/jquery-2.1.4.min.js"></script>
	<script src="~/Scripts/lib/angular.min.js"></script>
	<script src="~/Scripts/lib/angular-route.min.js"></script>
	<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

	<script src="~/Scripts/orderApp/app.js"></script>
	<script src="~/Scripts/orderApp/factory.js"></script>
</body>
</html>