<!DOCTYPE html>
<html lang="zh_cn" ng-app="orderApp">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control" />
	<meta content="no-cache" http-equiv="pragma" />
	<meta content="0" http-equiv="expires" />
	<meta content="telephone=no, address=no" name="format-detection" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<title>请点餐</title>

	<link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/Content/css/global.css">
</head>
<body>
	<section class="header clearfix" 
		ng-hide="hideNavBar" ng-controller="accountCtrl">
		<button type="button" class="btn btn-primary header-left" 
			back-button ng-hide="hideBackBtn">
			<span class="fa fa-chevron-left"></span> 返回
		</button>
		<button type="button" class="btn btn-primary header-left" 
			route-href="/cart" ng-show="hideBackBtn">
			点菜
		</button>
		<div class="header-center">{{viewTitle}}</div>
		<div class="btn-group btn-group-navicon header-right" dropdown is-open="status.isopen">
			<button type="button" class="btn btn-primary btn-navicon dropdown-toggle" dropdown-toggle ng-disabled="disabled">
			<span class="fa fa-navicon"></span>
			</button>
			<ul class="dropdown-menu" role="menu" ng-if="!isAuthenticated">
				<li><a route-href="/signin">会员登录</a></li>
				<li><a route-href="/signup">注册会员</a></li>
				<li><a route-href="/client">查看点单</a></li>
				<li><a route-href="/privilege">团购优惠</a></li>
			</ul>
			<ul class="dropdown-menu" role="menu" ng-if="isAuthenticated">
				<li><a route-href="/">欢迎 {{clientName}}</a></li>
				<li><a route-href="/client">查看点单</a></li>
				<li><a route-href="/history">历史订单</a></li>
				<li><a route-href="/privilege">团购优惠</a></li>
				<li><a ng-click="signout()">退出</a></li>
			</ul>
		</div>
	</section>
	<div ng-view>
		
	</div>
	
	<script src="~/Scripts/lib/jquery-2.1.4.min.js"></script>
	<script src="~/Scripts/lib/angular.min.js"></script>
	<script src="~/Scripts/lib/angular-route.min.js"></script>
	<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

	<script src="~/Scripts/orderApp/app.js"></script>
	<script src="~/Scripts/orderApp/cartControllers.js"></script>
	<script src="~/Scripts/orderApp/accountControllers.js"></script>
	<script src="~/Scripts/orderApp/directive.js"></script>
	<script src="~/Scripts/orderApp/factory.js"></script>
</body>
</html>