<!DOCTYPE html>
<html lang="zh_cn" ng-app="orderApp">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="no-cache,must-revalidate" http-equiv="Cache-Control" />
	<meta content="no-cache" http-equiv="pragma" />
	<meta content="0" http-equiv="expires" />
	<meta content="telephone=no, address=no" name="format-detection" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<title>请点餐</title>

	<link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/Content/css/global.css">
</head>
<body>
	<div ng-view>
		
	</div>
	<section class="cart">
		<div ng-show="!isCart">
			<span class="table-number">桌号：{{table}}</span>
			<span>人数：</span>
			<input type="text" maxlength="2" size="2" class="form-control input-sm input-customer" ng-model="customer"></span>
		</div>
		<span class="cart-sum">
			<span class="fa fa-shopping-cart"></span>
			{{cart.sizeAll}}份 ￥{{cart.priceAll}}
		</span>
		
		<a class="btn btn-sm btn-danger pull-right"
			href="javascript:;"
			ng-href="#/result"
			ng-show="!isCart">
			确认点单
		</a>
		<a class="btn btn-sm btn-primary pull-right"
			href="javascript:;"
			ng-click="redirect('/result')"
			ng-show="cart.sizeAll && isCart">
			查看点单
		</a>
	</section>
	<script src="~/Scripts/lib/jquery-2.1.4.min.js"></script>
	<script src="~/Scripts/lib/angular.min.js"></script>
	<script src="~/Scripts/lib/angular-route.min.js"></script>
	

	<script src="~/Scripts/orderApp/app.js"></script>
</body>
</html>