<section class="category" ng-static-height="38">
	<ul class="list-group">
		<!-- ngRepeat class -->
		<li class="list-group-item"
			ng-repeat="info in historyInfo"
			ng-class="{active: info.Additional.IsSelected}"
			ng-click="toggleSelected(info)">
			{{info.BeginTime}}
		</li>
	</ul>
</section>
<section class="history right" ng-static-height="38">
	<ul class="list-group" ng-if="historyMenu.PriceAll">
		<li class="list-group-item">
			桌号：{{historyMenu.Table.DeskName}}
		</li>
		<li class="list-group-item">
			人数：{{historyMenu.Customer}}
		</li>
		<!-- ngRepeat menu -->
		<li class="list-group-item"
			ng-repeat="menu in historyMenu.Results">
			<div class="row">
				<div class="col-xs-4">
					{{menu.DisherName}}
				</div>
				<div class="col-xs-4 text-right">
					&times;{{menu.Ordered}}
				</div>
				<div class="col-xs-4 text-right text-danger">
					{{menu.DisherPrice | currency : "￥"}}
				</div>
			</div>
			<div ng-if="menu.Note">备注：{{menu.Note}}</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-xs-4">
					餐具
				</div>
				<div class="col-xs-4 text-right">
					&times;{{historyMenu.Customer}}
				</div>
				<div class="col-xs-4 text-right text-danger">
					{{tablewareFee | currency : "￥"}}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-xs-6">
					<span class="fa fa-shopping-cart"></span> 共计：
				</div>
				<div class="col-xs-6 text-right text-danger">
					{{historyMenu.PriceAll | currency : "￥"}}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<button class="btn btn-primary btn-sm"
				ng-click="tryAgain()">再来一份</button>
		</li>
	</ul>
	<ul class="list-group" ng-if="!historyMenu.PriceAll">
		<li class="list-group-item">
			暂无订单
		</li>
	</ul>
</section>
