<div class="text-center">
	<img class="img-index" src="/content/image/index.jpg" alt="">
	<h3>欢迎使用“店小二”点餐软件</h3>
	<button class="btn btn-primary btn-lg"
	route-href="/cart">轻松一点，美味尽在指尖</button>
	<p>如需微信在线支付，请使用微信扫一扫</p>
</div>
