
<section class="payment">
	<ul class="list-group">
		<li class="list-group-item">
			桌号：{{cart.Table.DeskName}}
		</li>
		<li class="list-group-item">
			人数：
			<select ng-model="cart.Customer" convert-to-number>
				<option ng-repeat="c in customersAll" value="{{c}}">{{c}}</option>
			</select>
		</li>
		<li class="list-group-item">
			发票抬头：
			<input class="form-control input-sm form-control-inline" type="text" placeholder="置空不开具发票"
				ng-model="cart.Bill">
		</li>
		<li class="list-group-item">
			<span class="text-danger">
				共计：{{cart.PriceAll | currency : "￥"}}
			</span>
		</li>
		<li class="list-group-item">
			<button class="btn btn-danger btn-block"
				ng-click="submit();">现金支付</button>
			<button class="btn btn-primary btn-block"
				ng-click="pay();" ng-hide="hasPayName">在线支付</button>
			<div class="row" ng-show="hasPayName">
				<div class="col-xs-6" ng-repeat="pay in pays">
					<button class="btn btn-primary btn-block"
						ng-click="netPay(pay)">{{pay.PayName}}</button>
				</div>
			</div>
		</li>
	</ul>
</section>