<section class="payment">
	<ul class="list-group">
		<li class="list-group-item">
			桌号：{{cart.Table.DeskName}}
		</li>
		<li class="list-group-item">
			人数：
			<select ng-model="cart.Customer" convert-to-number>
				<option ng-repeat="c in customersAll" value="{{c}}"
					ng-selected="cart.Customer == c">{{c}}</option>
			</select>
			<span class="text-danger">（必填）</span>
		</li>
		<li class="list-group-item">
			发票抬头：
			<input class="form-control input-sm form-control-inline" type="text" placeholder="置空不开具发票"
				ng-model="cart.Bill">
		</li>
		<li class="list-group-item">
			<span class="text-danger">
				共计：{{cart.PriceAll | currency : "￥"}}
				<span ng-show="tablewareFee!=0">
					 + {{tablewareFee | currency : "￥"}}&times;{{cart.Customer}}(餐具费)
				</span>
			</span>
		</li>
		<li class="list-group-item">
			<!--<button class="btn btn-danger btn-block"
				ng-click="offlinePay();"
				ng-disabled="cart.Customer == 0">现场支付</button>-->
			<button class="btn btn-primary btn-block"
				ng-repeat="pay in pays"
				ng-click="onlinePay(pay)"
				ng-disabled="cart.Customer == 0">{{pay.PayName}}</button>
		</li>
	</ul>
	
	<form action="/cart/weixinSubmit" method="post">
	
	</form>
</section>