<section class="menu result-menu">
	<ul class="list-group">
		<!-- ngRepeat menu -->
		<li class="list-group-item"
			ng-repeat="menu in cart.Results">
			<div class="media">
				<div class="media-left">
					<a href="javascript:;">
						<img class="media-object" ng-src="~/Content/image/{{menu.DisherPicture}}">
					</a>
				</div>
				<div class="media-body">
					<p class="meal-title">{{menu.DisherName}}</p>
					<p class="meal-point">已有{{menu.DisherPoint}}个人点过</p>
					<div class="meal-footer">
						<p class="meal-price pull-left">￥{{menu.DisherPrice}}</p>
						<div class="cart-control pull-right">
							<span ng-if="menu.Additional.Ordered>0">
								<button class="btn btn-sm btn-cart-decrease"
										ng-click="removeMenu(menu)">
									<span class="fa fa-minus"></span>
								</button>
								<span class="cart-number">{{menu.Additional.Ordered}}</span>
							</span>
							<button class="btn btn-sm btn-cart-add"
									ng-click="addMenu(menu)">
								<span class="fa fa-plus"></span>
							</button>
						</div>
					</div>
				</div>
				<!-- Remark Region -->
				<div ng-if="menu.Additional.Ordered>0">
					<button class="btn btn-sm btn-danger btn-note"
							ng-click="menu.Additional.IsNoteCollapsed = !menu.Additional.IsNoteCollapsed">
						备注
					</button>
					<!-- ngRepeat the added notes -->
					<button class="btn btn-sm btn-success btn-note"
							ng-repeat="note in menu.Additional.Notes"
							ng-click="removeNote(menu,note,$index)">
						{{note.Note1}}
						<span class="fa fa-times-circle"></span>
					</button>
					<div class="well well-note" ng-if="menu.Additional.IsNoteCollapsed">
						<!-- ngRepeat not added notes -->
						<button class="btn btn-sm btn-primary btn-note"
								ng-repeat="note in menu.Additional.FilteredNotes"
								ng-click="addNote(menu,note,$index)">
							{{note.Note1}}
							<span class="fa fa-check-circle"></span>
						</button>
					</div>
				</div>
			</div>
		</li>
	</ul>
	
</section>

<section class="cart">

	<span class="cart-sum">
		<span class="fa fa-shopping-cart"></span>
		{{cart.SizeAll}}份 {{cart.PriceAll | currency : "￥"}}
	</span>

	<a class="btn btn-sm btn-danger pull-right"
		href="javascript:;"
		ng-show="cart.SizeAll"
		route-href="/payment">
		去结算
	</a>
	
</section>