<section class="payment">
	<ul class="list-group">
		<li class="list-group-item">
			<a href="http://www.dianping.com/" target="_blank">大众点评</a>
		</li>
		<li class="list-group-item">
			<a href="http://sh.meituan.com/" target="_blank">美团</a>
		</li>
	</ul>
</section>