<ul class="list-group">
	<li class="list-group-item">
		<div class="input-group input-group-sm ">
			<span class="input-group-addon">手机：</span>
			<input class="form-control input-sm" type="number" 
				ng-model="signupFormData.Mobile">
		</div>
	</li>
	<li class="list-group-item">
		<div class="input-group input-group-sm ">
			<span class="input-group-addon">验证码：</span>
			<input type="text" class="form-control" 
				ng-model="signupFormData.Code">
			<div class="input-group-btn">
				<button class="btn btn-default" ng-click="sendSMS()">发送验证码</button>
			</div>
		</div>
	</li>
	<li class="list-group-item">
		<div class="input-group input-group-sm ">
			<span class="input-group-addon">密码：</span>
			<input class="form-control input-sm form-control-inline" type="password" 
				ng-model="signupFormData.Password">
		</div>
	</li>
	<li class="list-group-item">
		<button class="btn btn-primary btn-block"
			ng-click="signup()">注册</button>
	</li>
</ul>