<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
		<button type="button" class="close" ng-click="close()"><span>&times;</span></button>
		<h3 class="modal-title">{{currentDisherName}}</h3>
    </div>
    <div class="modal-body text-center">
       <img class="img-index" ng-src="/Content/image/{{currentImgSrc}}">
    </div>
</script>

<button class="btn btn-sm btn-cart-add" id="cart-animate" style="display:none">
	<span class="fa fa-plus"></span>
</button>

<section class="search">
	<div class="input-group">
		<span class="input-group-addon"><span class="fa fa-search"></span></span>
		<input type="text" class="form-control" placeholder="搜索"
			   ng-model="searchText" ng-change="searchChange(searchText)">
	</div>
</section>
<section class="category" ng-static-height="112">
	<ul class="list-group">
		<li class="list-group-item active"
			ng-show="isSearchMode()">
			搜索结果
		</li>
		<!--<li class="list-group-item"
			ng-class="{active:isResultMode()}"
			ng-click="enterResultMode()">
			<span class="fa fa-shopping-cart"></span> 查看点单
		</li>-->
		<li class="list-group-item"
			ng-class="{active:isOnSaleMode()}"
			ng-click="enterOnSaleMode()">
			<span class="fa fa-star"></span> 今日特价
		</li>
		<li class="list-group-item"
			ng-class="{active:isRankMode()}"
			ng-click="enterRankMode()">
			<span class="fa fa-star"></span> 销量排行
		</li>
		<!-- ngRepeat class -->
		<li class="list-group-item"
			ng-repeat="class in menuSubClass"
			ng-class="{active: class.Additional.IsSelected}"
			ng-click="toggleSelected(class)">
			
			{{class.SubClassName}}
			
			<span class="label label-primary"
				  ng-show="class.Additional.Ordered>0">{{class.Additional.Ordered}}</span>
		</li>
	</ul>
</section>
<section class="menu" ng-static-height="112">
	<ul class="list-group">
		<!-- ngRepeat menu -->
		<li class="list-group-item"
			ng-repeat="menu in filteredMenuDetail">
			<div class="media">
				<div class="media-left">
					<a href="javascript:;">
						<img class="media-object" 
							ng-src="~/Content/image/{{menu.DisherPicture}}"
							ng-click="showModal(menu)">
					</a>
				</div>
				<div class="media-body">
					<p class="meal-title" ng-click="addMenu(menu)">{{menu.DisherName}} <span class="on-sale" ng-if="menu.IsOnSale">特价</span></p>
					<p class="meal-point">已有{{menu.DisherPoint}}个人点过</p>
					<div class="meal-footer">
						<p class="meal-price pull-left">{{menu.DisherPrice | currency : "￥"}}
							<span ng-show="menu.DisherDiscount<1">({{menu.DisherDiscount * 10}} 折)</span>
						</p>
						<div class="cart-control pull-right">
							<span ng-if="menu.Additional.Ordered>0">
								<button class="btn btn-sm btn-cart-decrease"
										ng-click="removeMenu(menu)">
									<span class="fa fa-minus"></span>
								</button>
								<span class="btn btn-sm btn-cart-add">{{menu.Additional.Ordered}}</span>
							</span>
							<button class="btn btn-sm btn-cart-add"
									ng-click="addMenu(menu)" cart-add-button>
								<span class="fa fa-plus"></span>
							</button>
						</div>
					</div>
				</div>
				<!-- Remark Region -->
				<div ng-if="menu.Additional.Ordered>0">
					<button class="btn btn-sm btn-danger btn-note"
							ng-click="toggleNote(menu)">
						个性服务 
						<span class="fa fa-chevron-circle-down" ng-show="!menu.Additional.IsNoteCollapsed"></span>
						<span class="fa fa-chevron-circle-up" ng-show="menu.Additional.IsNoteCollapsed"></span>
					</button>
					<!-- ngRepeat the added notes -->
					<button class="btn btn-sm btn-success btn-note"
							ng-repeat="note in menu.Additional.Notes"
							ng-click="removeNote(menu,note,$index)">
						{{note.Note1}}
						<span class="fa fa-times-circle"></span>
					</button>
					<div class="well well-note" ng-if="menu.Additional.IsNoteCollapsed">
						<!-- ngRepeat not added notes -->
						<button class="btn btn-sm btn-primary btn-note"
								ng-repeat="note in menu.Additional.FilteredNotes"
								ng-click="addNote(menu,note,$index)"
								ng-disabled="menu.Additional.Notes.length == 3">
							{{note.Note1}}
							<span class="fa fa-check-circle"></span>
						</button>
					</div>
				</div>
			</div>
		</li>
	</ul>
</section>
<section class="cart">
	<span class="cart-sum">
		<span class="fa fa-shopping-cart"></span>
		{{cart.SizeAll}}份 {{cart.PriceAll | currency : "￥"}}
	</span>
	
	<a class="btn btn-sm btn-primary pull-right"
		href="javascript:;"
		route-href="/result"
		ng-show="cart.SizeAll">
		查看点单
	</a>
	<!--<a class="btn btn-sm btn-danger pull-right"
		href="javascript:;"
		ng-show="cart.SizeAll && isResultMode()"
		route-href="/payment">
		去结算
	</a>-->
</section>