<section class="history">
	<ul class="list-group" ng-if="historyMenu.PriceAll">
		<li class="list-group-item">
			桌号：{{historyMenu.Table.DeskName}}
		</li>
		<!-- ngRepeat menu -->
		<li class="list-group-item"
			ng-repeat="menu in historyMenu.Results">
			<div class="row">
				<div class="col-xs-6">
					{{menu.DisherName}}
				</div>
				<div class="col-xs-4 text-right text-danger">
					{{menu.DisherPrice | currency : "￥"}}
				</div>
				<div class="col-xs-2 text-right">
					&times;{{menu.Ordered}}
				</div>
			</div>
			<div ng-if="menu.Note">个性服务：{{menu.Note}}</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-xs-6">
					餐具
				</div>
				
				<div class="col-xs-4 text-right text-danger">
					{{tablewareFee | currency : "￥"}}
				</div>
				<div class="col-xs-2 text-right">
					&times;{{historyMenu.Customer}}
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="row">
				<div class="col-xs-6">
					<span class="fa fa-shopping-cart"></span> 共计：
				</div>
				<div class="col-xs-6 text-right text-danger">
					{{historyMenu.PriceAll | currency : "￥"}}
				</div>
			</div>
		</li>
		<li class="list-group-item text-right">
			<button class="btn btn-primary btn-sm"
					ng-click="tryAgain()">
				再品尝一次
			</button>
		</li>
	</ul>
	<ul class="list-group" ng-if="!historyMenu.PriceAll">
		<li class="list-group-item">
			暂无订单
		</li>
	</ul>
</section>
