<section>
	<div class="menu-part" ng-repeat="menu in menuDetails">
		<p>{{menu.DisherName}}</p>
	</div>
</section>

<section class="fun">
	<div class="fun-btn">
		分类
	</div>
	<div class="fun-btn">
		开桌
	</div>
	<div class="fun-btn">
		查看点单
	</div>
</section>